body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

p {
  color: #40514E;
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1 {
  font-size: 5.625em; /* 16px = 100% = 1em | rem : 크기 고정 */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

.intro {
  margin: auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
  background-color: #66BFBF;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

button {
  background-color: ##66BFBF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}

#footest {
  color: #EAF6F6;
}
